<html>
<body>
Groups:
{{#groups}}
    <p><strong>{{name}}</strong> {{description}}</p>
    <ul>
    {{#tables}}
    <li><a href="#{{.}}">{{.}}</a></li>
    {{/tables}}
    </ul>
{{/groups}}

<hr/>
{{#tables}}
<h1 id="{{name}}">{{name}}</h1>
<p>{{description}}</p>
<strong>Columns:</strong>
<table>
    <thead>
    <tr><th>name</th><th>type</th><th>size</th><th>decimal digits</th><th>nullable</th><th>default</th><th>description</th></tr>
    </thead>
    <tbody>
    {{#columns}}
    <tr><td>{{name}}</td><td>{{type}}</td><td>{{size}}</td><td>{{decimalDigits}}</td><td>{{nullable}}</td><td>{{defaultValue}}</td><td>{{description}}</td></tr>
    {{/columns}}
    </tbody>
</table>
<hr/>
{{/tables}}
</body>
</html>